@import url("https://fonts.googleapis.com/css2?family=Bitcount+Grid+Double:wght@100..900&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Segoe UI", sans-serif;
  background-image: url(../assets/images/video-games-arcade-atari-retro-games-wallpaper-preview.jpg);
}
.app-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.navbar {
  padding: 1rem;
  display: flex;
  justify-content: center;
  gap: 4rem;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.85);
  backdrop-filter: blur(4px);
  box-shadow: 0 0 8px #00ffff;
}

.navbar a {
  color: #fff;
  font-family: "Bitcount Grid Double";
  text-decoration: none;
  font-weight: 600;
  font-size: 32px;
}

.navbar a:hover {
  color: #00ffff;
  text-shadow: 0 0 5px #00ffff, 0 0 10px #39ff14, 0 0 20px #ff00ff,
    0 0 40px #ff9900;
}

.main-content {
  padding: 2rem;
  padding-top: 4rem;
  flex: 1;
}
